@include media-breakpoint-up(sm) {
  h1 {
    font-size: 72px;
  }
  .slogan {
    font-size: 34px;
  }
  .first-page {
    background-size: 90%;
  }
  .heading {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .subheading {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
}
@include media-breakpoint-up(md) {
  $back-padding: 80px;
  .back {
    padding-top: $back-padding;
    padding-bottom: $back-padding;
  }
  .back-margin {
    margin-bottom: 80px;
  }
}
@include media-breakpoint-up(lg) {
  .heading {
    font-size: 32px;
    margin-bottom: 60px;
  }
  .subheading {
    font-size: 26px;
  }
  p {
    font-size: 20px;
  }
  .back {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .back-margin {
    margin-bottom: 112px;
  }
  .big-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@include media-breakpoint-up(xxl) {
  .heading {
    font-size: 36px;
  }
  p {
    font-size: 22px;
  }
}
@include media-breakpoint-up(xxl) {
  .heading {
    font-size: 40px;
  }
}
