@include media-breakpoint-up(sm) {
  h1 {
    font-size: 72px;
  }
  .slogan {
    font-size: 34px;
  }
  .first-page {
    background-size: 90%;
  }
}
@include media-breakpoint-up(md) {
  .heading {
    font-size: 28px;
  }
}
@include media-breakpoint-up(lg) {
  .heading {
    font-size: 32px;
  }
}
@include media-breakpoint-up(xl) {
  .heading {
    font-size: 36px;
  }
}
@include media-breakpoint-up(xxl) {
  .heading {
    font-size: 40px;
  }
}
