.anchor {
  display: block;
  position: relative;
  top: -$navbar-height - 10px;
  visibility: hidden;
}

.big-container {
  @include make-container();
  max-width: 1720px;
  padding-left: 16px;
  padding-right: 16px;
}

.back {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bg-mint {
  background-color: $mint;
}
.back-margin {
  margin-bottom: 60px;
}
.heading {
  font-size: 20px;
  margin-bottom: 30px;
}
.subheading {
  font-size: 20px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
